/* Variables */
:root {
  --brand-color: #2196f3;
  --bg-color-dark: #2f303a;
  --bg-color-light: #f5f4fa;
  --text-primary: #757575;
  --text-secondary: #212121;
  --accent-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --logo-header-color: #000000;
  --border-bottom-color: #ececec;
  --item-border-color: #eeeeee;
  --customers-thumb-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* margin: 0; */

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: var(--accent-color);
  color: var(--text-primary);
}

/* General Geometry */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid tomato; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Singletones and Patterns*/

.nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nodecor {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Buttons */

.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  border-radius: 4px;
  border-color: transparent;
  border-width: 0;

  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;
}

.button.hero {
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--brand-color);
  color: var(--accent-color);
}

/* For the first button that selects all items */
.button.all {
  padding: 6px 25px;
  min-width: 73px;
  min-height: 38px;

  background-color: var(--bg-color-light);
  color: var(--text-secondary);
}

.button.idle {
  padding: 6px 22px;
  min-width: 125px;
  min-height: 38px;

  background-color: var(--bg-color-light);
  color: var(--text-secondary);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--brand-color);
  color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* HEADER */
.page-header > .container {
  display: flex;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--brand-color);
}
.logo-header {
  color: var(--logo-header-color);
}

/* Site navigation */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--brand-color);
}

.header-icon:hover,
.header-icon:focus {
  color: var(--brand-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-secondary);
}

.site-nav .link.current {
  color: var(--brand-color);
}

.site-nav > .item {
  position: relative;
}

.current::after {
  position: absolute;

  bottom: 0;
  left: 0;
  content: '';
  height: 4px;
  width: 100%;

  background-color: var(--brand-color);
  border-radius: 2px;
}

/* Header Contacts */

.site-nav-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-nav-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
}

.container.header {
  margin-bottom: 0px;
}

.page-header {
  border-bottom: 1px solid var(--border-bottom-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* HEADER end */

/* STUDIO PAGE MAIN */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-top-padding {
  padding-top: 0px;
}

/* Hero section */

.hero {
  background-color: var(--bg-color-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/studio/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  /* margin for the hero button */
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);
}

/* Advantages section */
.adv {
  display: flex;
}

.advantages-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-color-light);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-thumb:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages-features {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--text-secondary);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.7;
}

.adv-item:not(:last-child) {
  margin-right: 30px;
}

/* We do section */
.wedo-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--text-secondary);
}

.wedo-list {
  display: flex;
}

.wedo-list .item {
  position: relative;
}

.wedo-list .item:not(:last-child) {
  margin-right: 30px;
}

.wedo-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;

  position: absolute;
  /* left: 0; */
  bottom: 0;

  background-color: var(--bg-color-dark);
  opacity: 0.8;

  font-weight: 700;
  /* font-size: 14px; */
  line-height: 1.14;
  /* text-align: center; */
  text-transform: uppercase;

  color: var(--accent-color);
}

/* Team section */
.team {
  background-color: var(--bg-color-light);
  margin-bottom: 0px;
}

.team-list {
  display: flex;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  background-color: var(--accent-color);
  border-radius: 0 0 4px 4px;
  margin-bottom: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member-description {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--text-secondary);
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--text-secondary);
}

.team-role {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--customers-thumb-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-link-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus,
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--brand-color);
  color: var(--accent-color);
}

/* Regular Customers section */

.customers {
  background-color: var(--accent-color);
  margin-bottom: 0px;
}

.customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--text-secondary);
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: var(--accent-color);
  border: 1px solid;
  border-color: var(--customers-thumb-color);
  color: var(--customers-thumb-color);
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.customers-thumb:hover,
.customers-thumb:focus {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.customers-list .item:not(:last-child) {
  margin-right: 30px;
}

/* STUDIO PAGE MAIN end*/

/* PORTFOLIO PAGE */
.radio {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.radio .item {
  margin-bottom: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio .item:hover,
.radio .item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.radio .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: var(--brand-color);
  opacity: 0.9;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;

  color: var(--accent-color);
}

.portfolio-item-link:hover .portfolio-label,
.portfolio-item-link:focus .portfolio-label {
  transform: translateY(0);
}

.item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;

  border: 1px solid var(--item-border-color);
  border-top-width: 0px;
}

.items-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--text-secondary);
}
.items-filter {
  font-size: 16px;
  line-height: 1.9;

  color: var(--text-primary);
}
/* PORTFOLIO PAGE end */

/* Footer */

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-spn {
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  font-style: normal;

  background-color: var(--bg-color-dark);
}

.footer-main {
  display: flex;
  align-items: baseline;
}

.find-us-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-color);
}

.find-us {
  margin-left: 70px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-color);
  color: var(--accent-color);
}

.social-icon-footer {
  fill: currentColor;
}

.footer-location {
  display: inline-block;
  width: 233px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  font-style: normal;
  line-height: 1.7;

  color: var(--accent-color);
}

.footer-contacts {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  font-style: normal;
  line-height: 1.7;

  color: var(--footer-contacts-color);
}

.address li {
  margin-bottom: 9px;
}

.address li:last-child {
  margin-bottom: 0px;
}

.footer-location:hover,
.footer-location:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--brand-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-color);
}

.subscribe-form {
  display: flex;
  column-gap: 12px;
}

.subscribe-label {
  display: flex;
}

.subscribe-input {
  display: flex;
  align-items: center;
  width: 358px;
  padding-left: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--accent-color);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn-icon {
  fill: var(--accent-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  padding: 10px 28px;
  min-width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--brand-color);
  color: var(--accent-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #008cff;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  transition: opacity 250ms ease, visibility 250ms ease;

  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  border-radius: 50%;
  background-color: var(--color-accent);

  transform: translate(100%, 100%) scale(2);
}

.modal {
  position: absolute;
  /* to center modal window */
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;

  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* MODAL FORM */

.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--text-secondary);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-primary);
}

.modal-form-label-comments {
  margin-bottom: 20px;
}

.modal-form-field-desc {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-primary);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  color: black;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--brand-color);
  outline: none;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--brand-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comments {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: black;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comments:focus {
  border-color: var(--brand-color);
  outline: none;
}

.modal-form-terms {
  display: flex;
  align-items: center;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--text-primary);
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-check:checked + .modal-form-checkbox .modal-form-checkbox-icon {
  display: block;
}

.modal-form-check:checked + .modal-form-checkbox {
  border: none;
}

.modal-form-check:focus + .modal-form-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 153, 255, 0.5);
}

.modal-form-checkbox {
  margin-right: 7px;
  fill: var(--brand-color);
  cursor: pointer;
}

.modal-form-checkbox-icon {
  display: none;
}

.modal-form-unchecked {
  position: absolute;
  cursor: pointer;
}

.modal-form-check:checked ~ .modal-form-unchecked {
  display: none;
}

.modal-form-link {
  margin-left: 5px;
  color: var(--brand-color);
  text-decoration: underline;
}

.send-btn {
  align-self: center;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--brand-color);
  color: var(--accent-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #008cff;
}
